*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: hsl(60, 2%, 16%);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.container{
    background-color: white;
    width: 100%;
    max-width: 500px;
    border-radius:20px;
    padding:6px;
}
h1{
    color: hsl(0, 2%, 20%);
    margin-top: 5px;
    text-align: center;
}
.sections{
    padding:8px;
    padding-top:15px;
    width: 100%;
    display:block;
    
}
input{
    display:block;
    width: 70%;
    padding:8px;
    border-radius:6px;
    margin-top:20px;
    margin-left:70px;
    border: 2px solid hsl(0, 1%, 42%);
    cursor: pointer;
}
button{
    margin-top:30px;
    margin-left:70px;
    width:70%;
    padding:8px;
    border-radius:6px;
    border:none;
    background-color: hsl(125, 46%, 23%);
    color:white;
    font-weight: bold;
    font-size: 14px;
}
