*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    font-family: sans-serif;
    font-weight: bold;
    background-color: hsl(0, 1%, 76%);
}
.container{
    background-color: hsl(180, 27%, 37%);
    width: 100%;
    max-width:500px;
    border-radius: 20px;
    padding:10px
}
.heading-section{
    text-align:center;
    font-size: 14px;
    color:hsl(0, 1%, 16%)
}
.input-field{
    margin-top: 16px;
   
}
input{
    display: block;
    width: 90%;
    margin-left:15px;
    padding:10px;
    border-radius:5px;
    border:none;
    margin-bottom:6px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor:pointer;
    
}

select{
    display: block;
    width: 90%;
    margin-left:15px;
    padding:8px;
    border-radius: 5px;
    text-align: center;
    margin-bottom:6px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor:pointer;
}
button{
    width:90%;
    padding :8px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 14px;
    border:none;
    margin-top: 10px;
    background-color:hsl(180, 43%, 49%) ;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
    cursor:pointer;
}
button:hover{
    background-color: rgb(133, 183, 196);
}