*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(161, 92%, 10%);
}
.container{
    width: 100%;
    max-width: 550px;
    background-color: rgb(236, 236, 236);
    padding:5px;
    border-radius: 10px;
    h1{
        text-align: center;
        font-size: 22px;
        color: hsl(0, 1%, 20%);
        margin-bottom: 10px;
        margin-top: 3px;
    }
    
}
.section{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
    input{
        padding:10px;
        border-radius:8px;
        border:none; 
    }
    button{
        width: 100%;
        padding:10px;
        border-radius: 8px;
        margin-left: 5px;
        margin-right: 5px;
        border:none;
        background-color: black;
        color:white;
        font-size: 13px;
        font-weight: bold;
    }
}
